@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('../../components/ui/embla-crousel/embla.css');

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: auto;
    font-weight: auto;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 331 56% 12%;

    --card: 240 5% 96%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222 82% 24%;
    --primary-foreground: 184 66% 92%;

    --secondary: 13 80% 54%;
    --secondary-foreground: 0 57% 95%;

    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 45%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 90%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 13 80% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    color: var(--foreground);
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-inline: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .prose h1 {
    font-size: 2.5rem;
    margin-bottom: 0.2em;
    line-height: 1.2;
  }

  .prose h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
  }

  .prose h3 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4;
  }

  .prose h4 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
  }

  .prose h5 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.4;
  }

  .prose p {
    font-size: 12px;
    line-height: 1.5;
  }

  .prose small {
    font-size: 10px;
    line-height: 1.4;
  }
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  @apply appearance-none m-0;
}

.no-spinner {
  @apply appearance-none;
  -moz-appearance: textfield;
}